<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script type="text/javascript">
      window.initialData = <%- JSON.stringify(initialData) -%>
    </script>
  </head>
  <body>
    <div id="root"><%- initialMarkup -%></div>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
